hr[data-divider] {
  height: 1px;
  margin: 10px 0;
  position: relative;
  overflow: visible;
  background: #cecece;
  text-align: center;
  border: none;
}

hr[data-divider]:after {
  content: attr(data-divider);
  top: -10px;
  position: relative;
  background: white;
  padding: 0 5px;
  color: #9a9a9a;
}
