.btn-custom{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-weight: 700;
  padding: 8px 64px;
  background-color: #1C9299;
  color: white;
  text-transform: uppercase;
  font-family: Montserrat,sans-serif;
}
